# PyCharm
.idea/
*.iml

# Mac/Linux
.DS_Store

# Windows
Thumbs.db

# Outros
__pycache__/
*.pyc
*.pyo

# Evita commitar scripts automatizados do Docker local
/build.sh
/push.sh
/run.sh

# Ignora todos os scripts locais
#*.sh